[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0.7"
django-moj-irat = "==0.12"
drf-spectacular = "==0.30.0"
djangorestframework = "==3.18.0"
django-cors-headers = "==4.9.0"
django-filter = "==26.1"
drf-nested-routers = "==0.95.3"
pyyaml = "==6.0.3"
six = "==1.17.0"
uwsgi = "==2.0.31"
sentry-sdk = "==2.68.0"

[dev-packages]
coverage = "==7.15.4"
flake8 = "==7.3.0"
unittest-xml-reporting = "==4.0.0"

[requires]
python_version = "3.14"
