{% extends 'layout.html' %}

{% load humanize %}

{% block title %}
Fee Calculator - {{ scheme.description }}
{% endblock title %}

{% block main_heading %}
{{ scheme.description }}
{% endblock main_heading %}

{% block content %}
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Details</caption>
  <thead class="govuk-table__head">
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Base</th>
      <td class="govuk-table__cell">
        {% if scheme.base_type == 1 %}
        AGFS
        {% else %}
        LGFS
        {% endif %}
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell">{{ scheme.start_date }}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">End date</th>
      <td class="govuk-table__cell">{{ scheme.end_date|default_if_none:"Present" }}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Prices count</th>
      <td class="govuk-table__cell">{{ prices_count }}</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Scenarios</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name</th>
      <th scope="row" class="govuk-table__header">Prices count</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in scenarios %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ item.scenario.name }}</td>
      <td class="govuk-table__cell">{{ item.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Offence Classes</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Id</th>
      <th scope="row" class="govuk-table__header">Name</th>
      <th scope="row" class="govuk-table__header">Description</th>
      <th scope="row" class="govuk-table__header">Prices count</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in offence_classes %}
    {% if not item.offence_class == None %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ item.offence_class.id }}</td>
      <td class="govuk-table__cell">{{ item.offence_class.name }}</td>
      <td class="govuk-table__cell">{{ item.offence_class.description }}</td>
      <td class="govuk-table__cell">{{ item.count }}</td>
    </tr>
    {% else %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">{{ item.count }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}