<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Offence Classes</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Id</th>
      <th scope="row" class="govuk-table__header">Name</th>
      <th scope="row" class="govuk-table__header">Description</th>
      <th scope="row" class="govuk-table__header">Prices count</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for offence_class in offence_classes %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ offence_class.id }}</td>
      <td class="govuk-table__cell">{{ offence_class.name }}</td>
      <td class="govuk-table__cell">{{ offence_class.description }}</td>
      <td class="govuk-table__cell">{{ offence_class.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>